.mr-1 {
  margin-right: .25rem !important;
}
.mr-2 {
  margin-right: .5rem !important;
}

div.button-group button {
  min-width: 100px;
}

div.button-group button:not(:last-of-type) {
  margin-right: .5rem;
}

div.button-group.filter button.up::after {
  margin-left: .25rem;
  background-image: url('../assets/arrow-up.png');
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
}

div.button-group.filter button.down::after {
  margin-left: .25rem;
  background-image: url('../assets/arrow-down.png');
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
}

#spinner {
  z-index: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}

#inner_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hstack {
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
}

div.tl {
  text-align: left;
}
div.tc {
  text-align: center;
}

